* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.small {
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 18%
}

.medium {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 25%;
}

.large {
    display: none;
    position: absolute;
    bottom: 20%;
    left: 25%;
    width: 45%
}

[class*="container-"] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

@media (min-width: 0) {
.container-1 {
    background-image: url('../assets/images/dawn.png');
    /* background-repeat: no-repeat; */
    }
}

@media (min-width: 768px) {
    .container-2 {
        background-image: url('../assets/images/night.jpg');
        /* background-repeat: no-repeat;*/
    } 

    .medium {
        display: block;
    }

    .small {
        display: none;
    }

    .large {
        display: none;
    }
}

@media (min-width: 992px) {
    .container-3 {
        background-image: url('../assets/images/sunny-day.jpg');
        /* background-repeat: no-repeat; */
    }

    .large {
        display: block;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }
}